<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_HOME" value="D:/Config/DemoSpringApp/logs" />
	<property name="FILE_LOG_PATTERN"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %logger{36} - %msg%n" />
		<!-- %X{FILEID} -->
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>${FILE_LOG_PATTERN}</Pattern>
		</encoder>
	</appender> 
	<appender name="LOGFILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_HOME}/logger.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${LOG_HOME}/apitracker-%d.%i.log.gz
			</FileNamePattern>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>10MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<Pattern>%date %level [%thread] %logger %msg%n</Pattern>
		</encoder>
	</appender>
 
	<!-- By default, the level of the root level is set to DEBUG -->
	<root level="INFO">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="LOGFILE" />
	</root>
	<logger name="org.ao.collman" level="debug" additivity="false">
		<appender-ref ref="LOGFILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
</configuration>