<!-- HTML5 -->
<!DOCTYPE html>
<!-- XML namespace -->
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Metadata -->
    <meta http-equiv="content-type" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Observatory - Successful addition</title>
    </meta>
  </head>
  <body>
    <p align="center"><font size="+2"><b>Collaborator successfully saved!<br></br></b></font></p>
    <p align="center"><a th:href="@{/index.html}"><b>back to Main menu</b></a><font size="+2"><b><br></br></b></font></p>
  </body>
</html>
