<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>Update Collaborator</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link th:href="@{/css/mystyle.css}" rel="stylesheet" />
	</head>
	<body>
		<h3>Update Collaborator</h3>
		<form action="#" th:action="@{/ao/update/{id}(id=${collaborator.id})}" th:object="${collaborator}" method="post">
			<label for="name" class="col-form-label">Name</label> 
			<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name"> 
				<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
			<label for="email" class="col-form-label">Email</label> 
			<input type="text" th:field="*{email}" class="form-control" id="email" placeholder="Email"> 
				<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"> </span>
			<input type="submit" class="btn btn-primary" value="Update Collaborator">
		</form>
	</body>
</html>